<div class='container content--full-height'>
  <div class='content--full-height row content--horizontally-centered'>
    <div class='Author-box content--horizontally-centered'>
      <%= image_tag 'avatar.jpeg', alt: 'Halisson Bruno', class: 'Avatar Avatar--bordered' %>

      <p class='description'>
      I am a software engineer, who loves to write clean and expressive code, to deliver useful and
      beautiful products, and to study and learn new things.
      </p>

      <a class='btn btn-theme btn-block' href='https://www.dropbox.com/s/zmo5qyp3q5gunin/cv_en.pdf?dl=0'> Get my CV </a>
      <a class='btn btn-theme btn-block' href='#contact'> Contact me </a>
    </div>
  </div>
</div>
